header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;
}

header div {
    /*height: 20vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    min-height: 55vh;
    padding: 3vh 15vw;
}

section {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
}

.foto {
    flex: 1;
}

.info {
    text-align: left;
    flex: 2;
}

main div {
    padding: 5px;
    margin: 5px;
}

.img_about {
    width: 20vw;
    border-radius: 15px;
    margin: 5px;
    box-shadow: 2px 2px 5px 5px #DADFE2;
}

h2 {
    color: var(--textColorBlue);
    margin-bottom: 1vh;
}

h3 {
    color: var(--textColorBrown);
    margin-top: 2vh;
}

p {
    color: var(--textColorBrown);
}