header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header div {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main div {
    padding: 5px;
    margin: 5px;
}

main div img {
    width: 20vw;
    border-radius: 15px;
    margin: 5px;
    box-shadow: 2px 2px 5px 5px #DADFE2;
}

main div p {
    width: 30vw;
    padding: 5px;
    margin: 5px;
}