.adminspacebetween {
    display: flex;
    justify-content: space-between;
}

.admincenter {
    display: flex;
    justify-content: center;
    text-align: center;
}

.admin {
    background-color: #7B6340;
}

.tim {
    background-color: #7B6340;
    width: 25vw;
    font-size: 0.65vw;
}

.adminlinks a {
    text-decoration: none;
    background-color: #EEE3B4;
    color: #7B6340;
}

.adminlinks a:hover {
    text-decoration: none;
    background-color: #7B6340;
    color: #EEE3B4;
}

