h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

header {
    background-image: url("../images/header.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header div {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#psize {
    font-size: 1.25rem;
}

main {
    text-align: center;
}

main article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouw-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.werkgrootte {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vw;
}

#nieuwbouw-back {
    background-image: url("../images/header.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#bestaand-back {
    background-image: url("../images/header.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.review-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.review-back div {
    padding: 5px;
}

.review-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 25vh;
    text-align: center;
    background-color: #7B6340;
    border-radius: 5px;
}

.button a {
    color: var(--textColorBrown);
    font-family: "Baskerville Old Face", serif;
    font-size: 1.25rem;
    text-decoration: none;
}

.checked {
    color: orange;
}




