h2 {
    color: var(--textColorYellow);
    font-size: 2rem;
    padding: 1vh 0;
    margin: 0;
}

header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.important {
    color: var(--textColorBlue);
    font-size: 1.75rem;
}

form div {
    flex: 1;
}

.calendercontainer {
    background-color: var(--colorCalender);
    border-radius: 15px;
}

.intake {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.column {
    gap: 0.5vh;
}

.calendercontainer .header {
    background-color: var(--navAndFooter);
    border-radius: 15px;
    text-align: center;
}

.error {
    color: red;
    text-align: left;
}

.calendercontainer .error {
    padding: 10px;
}

.times {
    padding: 0 10px;
    color: var(--textColorYellow);
}

.succesStyle {
    text-align: center;
}

.succes {
    color: var(--textColorBrown);
    font-size: 1.25rem;
}

/*WIP calender*/
#calendar {
    width: 100%;
    text-align: center;
    padding: 10px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#calendarTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#calendarTable th, #calendarTable td {
    width: 14%;
    padding: 10px;
    text-align: center;
}

#calendarTable td {
    cursor: pointer;
}

#calendarTable td:hover, #calendarTable td.selected {
    background-color: var(--colorButton);
    color: var(--textColorBrown);
    border-radius: 100px;
}

#calendarBody, th {
    color: var(--textColorYellow);
    font-family: "Baskerville Old Face", serif;
}

#header .button {
    color: var(--textColorYellow);
    background-color: var(--textColorBrown);
    transition: 500ms;
}

#header .button:hover {
    color: var(--textColorBrown);
    background-color: var(--colorButton);
    transition: 500ms;
}

/*WIP time*/
#timeSelectionContainer {
    display: none; /* Verberg standaard de tijdselectiecontainer */
}

.time-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Vier kolommen */
    gap: 10px;
    margin-top: 10px;
}

#timeSelectionContainer label {
    color: var(--textColorYellow);
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--textColorYellow);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: var(--textColorYellow);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--textColorBrown);
}

.times p {
    font-size: 1.25rem;
}

.times .error {
    font-size: 1rem;
}