main {
    display: flex;
    justify-content: space-evenly;
}

header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2rem;
    color: lightgray;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.star-rating input:checked ~ label {
    color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}

.sectionflex {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.reviewcard {
    padding: 1vh;
    text-align: center;
    background-color: #EEE3B4;
    border: 1px solid #EEE3B4;
    border-radius: 5px;
}
