main {
    display: flex;
    justify-content: space-evenly;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2rem;
    color: lightgray;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.star-rating input:checked ~ label {
    color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}
