:root {
    --navAndFooter: #367283;
    --linkNavHover: #375082;
    --textColorBlue: #367283;
    --textColorYellow: #EEE3B4;
}

* {
    box-sizing: border-box;
}

p, h1, h2, h3, a {
    font-family: "Baskerville Old Face", serif;
}

p {
    margin: 0;
}

body {
    margin: 0;
}

main {
    padding: 0 10vw;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    background-color: var(--navAndFooter);
}

.nav_img img {
    flex: 1;
    height: 90px;
    padding: 5px;
}

.empty {
    flex: 1;
}

.nav_links {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav_links a {
    padding: 10px;
    text-decoration: none;
    color: var(--textColorYellow);
}

.nav_links a:hover {
    padding: 10px;
    text-decoration: none;
    background-color: var(--linkNavHover);
    color: var(--textColorYellow);
}

footer {
    background-color: var(--navAndFooter);
    padding: 2vh 10vw;
    display: flex;
    justify-content: space-between;
}

footer p {
    color: var(--textColorYellow);
}

footer a {
    text-decoration: none;
    color: var(--textColorYellow);
    padding: 1px 0;
}

.information {
    display: flex;
    flex-direction: column;
}

.contact a img {
    padding: 5px;
    height: 40px;
}