:root {
    --navAndFooter: #367283;
    --linkNavHover: #375082;
    --textColorBlue: #367283;
    --textColorYellow: #EEE3B4;
    --textColorBrown: #7B6340;
    --colorButton: #EEE3B4;
    --colorCalender: #7B6340;
}

* {
    box-sizing: border-box;
}

p, h1, h2, h3, a {
    font-family: "Baskerville Old Face", serif;
}

h1, h2, h3 {
    padding: 5px 0;
    margin: 0;
}

h1 {
    color: var(--textColorBlue);
    font-size: 2.5rem;
}

p {
    margin: 0;
}

body {
    margin: 0;
}

header {
    padding: 0 10vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    background-color: var(--navAndFooter);
}

.nav_img img {
    flex: 1;
    width: 95px;
    padding: 10px 10px;
}

.empty {
    flex: 1;
}

.nav_links {
    flex: 1;
    display: flex;
    align-items: baseline;
    text-align: center;
}

.nav_links button {
    font-family: "Baskerville Old Face", serif;
    font-size: 1rem;
    background-color: var(--navAndFooter);
    color: var(--textColorYellow);
    border: none;
}

.nav_links a, .nav_links button {
    padding: 30px 10px;
    text-decoration: none;
    color: var(--textColorYellow);
}

.nav_links a:hover, .nav_links button:hover {
    padding: 30px 10px;
    text-decoration: none;
    background-color: var(--linkNavHover);
    color: var(--textColorYellow);
}

.admin a {
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: var(--textColorYellow);
}

.admin {
    margin-right: 4vw;
}

.admin a:hover {
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    background-color: var(--linkNavHover);
    color: var(--textColorYellow);
}

.admin_empty {
    flex: 3;
}

.admin p {
    color: var(--textColorYellow);
    min-width: 100px;
}

.logo {
    width: 45px;
    margin: 1vw 5px;
}

.profile {
    height: 100%;
}

.dropdown {
    display: inline-block;
    position: relative;
    height: 100%;
}

.dropdown_items {
    display: none;
    position: absolute;
    overflow: auto;
}

.dropdown:hover .dropdown_items {
    display: block;
    background-color: var(--navAndFooter);
}

.dropdown_items a {
    display: block;
    width: 92px;
    text-decoration: none;
    color: var(--textColorYellow);
}

.dropdown_items a:hover {
    text-decoration: none;
    background-color: var(--linkNavHover);
    color: var(--textColorYellow);
}

#werkwijzen {
    width: 92px;
    height: 100%;
}


.about_us {
    min-width: 113px;
}

#person a {
    padding: 1vw;
}

#person a:hover {
    padding: 1vw;
}

main {
    padding: 3vh 10vw;
}

label {
    color: var(--textColorBrown);
    font-family: "Baskerville Old Face", serif;
    font-size: 1.25rem;
}

input, textarea {
    padding: 7px;
    background-color: var(--colorButton);
    color: var(--textColorBrown);
    font-family: "Baskerville Old Face", serif;
    font-size: 1.25rem;
    border: none;
    border-radius: 7px;
}

.button {
    margin: 5px 0;
    background-color: var(--colorButton);
    color: var(--textColorBrown);
    font-family: "Baskerville Old Face", serif;
    font-size: 1.25rem;
    padding: 5px;
    border-radius: 7px;
    border: none;
}

footer {
    background-color: var(--navAndFooter);
    padding: 2vh 10vw;
    display: flex;
    justify-content: space-between;
}

footer p {
    color: var(--textColorYellow);
}

.underlined {
    text-decoration: underline;
    padding-bottom: 2px;
}

footer a {
    text-decoration: none;
    color: var(--textColorYellow);
    padding: 1px 0;
}

.information, .categorieën, .column {
    display: flex;
    flex-direction: column;
}

.contact a img {
    padding: 5px;
    width: 50px;
}

button:hover, .button:hover {
    color: var(--colorButton);
    background-color: var(--textColorBrown);
    transition: 500ms;
}