form {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 25vw;
}

main {
    display: flex;
    text-align: center;
    min-height: 40vh;

}

.container {
    margin-top: 1.5%;
    margin-bottom: 1%;

}

header {
    background-image: url("../images/header.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 26vh;
}

.button {
    /*margin: 0.5vw 5vw;*/
    background-color: var(--colorButton);
    color: var(--textColorBrown);
    font-family: "Baskerville Old Face", serif;
    font-size: 1.25rem;
    padding: 5px;
    border-radius: 7px;
    border: none;
    width: 70%;

}

button:hover {
    color: var(--colorButton);
    background-color: var(--textColorBrown);
    transition: 1s;
}

.styleLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.styleLink a {
    color: black;
    text-decoration: none;
    margin-left: 1%;
}

.textStyle {
    color: var(--textColorBrown);
}

.styleLink a:hover {
    text-decoration: black underline;

}

.buttonStyle {
    flex: 1;
    max-height: 7vh;
}

.buttonStyle .button {

    margin-top: 4%;
    /*margin-bottom: 1%;*/
}

.registerStyle .button {

}

.error {
    color: red;
}