form {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 25vw;
}

main {
    display: flex;
    text-align: center;
    min-height: 40vh;

}

.container {
    margin-top: 1.5%;
    margin-bottom: 1%;

}

header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.button {
    /*margin: 0.5vw 5vw;*/
    background-color: var(--colorButton);
    color: var(--textColorBrown);
    font-family: "Baskerville Old Face", serif;
    font-size: 1.25rem;
    padding: 5px;
    border-radius: 7px;
    border: none;
    width: 70%;

}

button:hover {
    color: var(--colorButton);
    background-color: var(--textColorBrown);
    transition: 1s;
}

.styleLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.styleLink a {
    color: black;
    text-decoration: none;
    margin-left: 1%;
}

.textStyle {
    color: var(--textColorBrown);
}

.styleLink a:hover {
    text-decoration: black underline;

}

.buttonStyle {
    flex: 1;
    max-height: 7vh;
}

.buttonStyle .button {

    margin-top: 4%;
    /*margin-bottom: 1%;*/
}

.registerStyle .button {

}

.error {
    color: red;
}

.contactContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: var(--textColorBrown);

}

.contactForm {
    margin-right: 5vw;
    margin-left: 10vw;
}

.contactContainer img {
    margin: 1vh;
    height: 7.5vh;

}

.headTable {
    max-width: 50%;
}

main {
    display: flex;
    min-height: 50vh;
    justify-content: center;
}

.profileText {
    /*max-width: 50%;*/
    display: flex;
    margin: 0 10%;
    flex-direction: column;
    text-align: left;
    color: var(--textColorBrown);

}


p {
    color: var(--textColorBrown);
}

h2 {
    color: var(--textColorBlue);
}

.table {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: 5%;
    background-color: var(--textColorBrown);
    border-radius: 7px;

}

td {

    text-align: left;
    border-bottom: 1px solid var(--colorButton);
    border-right: 1px solid var(--colorButton);
    color: var(--colorButton);
}

th {
    text-align: left;
    border-bottom: 2px solid var(--colorButton);
    border-right: 2px solid var(--colorButton);
    color: var(--colorButton);
}

.tableContainer {
    flex-direction: row;

}

.tableDate {
    min-width: 7.5vw;
}

table {
    min-width: 50%;

}

.warning {
    min-width: 35vw;
}

.table h2 {
    background-color: var(--textColorBlue);
    color: var(--colorButton);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}