body {
    margin: 0;
    font-family: "Baskerville Old Face";
    color: #375082;
}
nav {
    text-align: center;
}
header {
    text-align: center;
}
main {
    text-align: center;
}
footer {
    text-align: center;
}

