body {
    margin: 0;
    background-color: #636267;
    font-family: "Baskerville Old Face";
    text-decoration-color: #367283;
}
nav {
    text-align: center;
}
header {
    text-align: center;
}
main {
    text-align: center;
}
footer {
    text-align: center;
}
